/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: JetBrains Mono, sans-serif;
    font-weight: 500;
    text-shadow: darkslategray;
    line-height: 1.6;
    background-color: darkslategrey;
    color: rgba(255, 255, 255, 0.473);
    padding: 20px;
}


.questionBox{
    width: 650px;
}
/* Layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

button{
    padding: 20px;
}

#correct{
    color: white;
    background-color: green
    
    
}

#incorrect{
    color: white;
    background-color: rgb(145, 0, 0)

    
    
}
#correctCount {
    color: green;
}
#incorrectCount {
    color: red;
}

.stats {
    display: inline-block;
    margin-right: 20px;
    
}

#answer {

    padding-top: 100px;
    font-weight: 1000;
    color: rgb(15, 184, 0);
}

#groupButtons {
    position: absolute; /* Position the container relative to the page */
    right: 0; /* Align the container to the right side */
    top: 0; /* Align the container to the top (optional) */
    width: 200px; /* Set a width for the container (optional) */
    background-color: lightgrey; /* Set a background color (optional) */
    padding: 10px; /* Add some padding inside the container */
}
.groupButton {
    min-width: 50px;
    padding: 3px 10px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.active {
    background-color: green;
    color: white;
}

#incorrectList {

    font-size: 0.5rem;
    font-weight: 750;
    color:  rgb(255, 92, 92);
    background-color: rgba(0, 0, 0, 0.473);
    width: 650px;
}

incorrectquestion{
    display: block;
}